June 19, 2016:<br>
&emsp;Added favicon.ico<br>
&emsp;Edited main page wording to clarify intended use of calculator<br>
&emsp;Added output for current ancients, HS costs<br>
<br>
<br>
June 18, 2016:<br>
&emsp;*Added Changelog<br>
&emsp;*cleaned up/reformatted HTML, added links and more info<br>
&emsp;*Fixed errors with older pre-transcended saves<br>
&emsp;*Added feature to include/exclude post-ascension souls<br>
&emsp;*Added feature to display max TP reward zone<br>
&emsp;*Changed output numbers > 1000 to display with commas<br>
&emsp;*Rather than error message, display optimal levels even if player can't afford it, with custom message<br>
&emsp;*Fixed TP formula which was affecting the max TP reward zone calculations
<p>
<p><a HREF="/">Back</a></p>
