$def with (optArgaiv, optAtman, optBubos, optChronos, optDogcog, optDora, optFortuna, optKuma, optLibertas, optMammon, optMimzee, optMorg, optSiya, optSolomon, diffArgaiv, diffAtman, diffBubos, diffChronos, diffDogcog, diffDora, diffFortuna, diffKuma, diffLibertas, diffMammon, diffMimzee, diffMorg, diffSiya, diffSolomon)

<html>
    <head>
        <title>CH Ancients Calculator</title>
    </head>

<body>
<table border="1">
<tr>
<th>Ancient</th>
<th>Optimal level</th>
<th>Levels to add</th>
</tr>
<tr>
<td>Argaiv</td>
<td>$optArgaiv</td>
<td>$diffArgaiv</td>
</tr>
<tr>
<td>Atman</td>
<td>$optAtman</td>
<td>$diffAtman</td>
</tr>
<tr>
<td>Bubos</td>
<td>$optBubos</td>
<td>$diffBubos</td>
</tr>
<tr>
<td>Chronos</td>
<td>$optChronos</td>
<td>$diffChronos</td>
</tr>
<tr>
<td>Dogcog</td>
<td>$optDogcog</td>
<td>$diffDogcog</td>
</tr>
<tr>
<td>Dora</td>
<td>$optDora</td>
<td>$diffDora</td>
</tr>
<tr>
<td>Fortuna</td>
<td>$optFortuna</td>
<td>$diffFortuna</td>
</tr>
<tr>
<td>Kumawakamaru</td>
<td>$optKuma</td>
<td>$diffKuma</td>
</tr>
<tr>
<td>Libertas</td>
<td>$optLibertas</td>
<td>$diffLibertas</td>
</tr>
<tr>
<td>Mammon</td>
<td>$optMammon</td>
<td>$diffMammon</td>
</tr>
<tr>
<td>Mimzee</td>
<td>$optMimzee</td>
<td>$diffMimzee</td>
</tr>
<tr>
<td>Morgulis</td>
<td>$optMorg</td>
<td>$diffMorg</td>
</tr>
<tr>
<td>Siyalatas</td>
<td>$optSiya</td>
<td>$diffSiya</td>
</tr>
<tr>
<td>Solomon</td>
<td>$optSolomon</td>
<td>$diffSolomon</td>
</tr>
</table>
<p>
<p><a HREF="/">Enter another save</a></p>
</body>
</html>