$def with (curAncients, optAncients, diff, calcs, optcost, msg)

<center>
$:msg
<table border="3" bordercolor="black">
<col width="115">
<col width="70">
<col width="70">
<col width="70">
<col width="70">
<tr>
<th>Ancient</th>
<th>Current level</th>
<th>Optimal level</th>
<th>Levels to add</th>
<th>HS cost</th>
</tr>
<tr>
<td>Argaiv</td>
<td align="right">$curAncients['Argaiv']</td>
<td align="right">$optAncients['Argaiv']</td>
<td align="right"><b>+$diff['Argaiv']</b></td>
<td align="right">$optcost['Argaiv']</td>
</tr>
<tr>
<td>Atman</td>
<td align="right">$curAncients['Atman']</td>
<td align="right">$optAncients['Atman']</td>
<td align="right"><b>+$diff['Atman']</b></td>
<td align="right">$optcost['Atman']</td>
</tr>
<tr>
<td>Bhaal</td>
<td align="right">$curAncients['Bhaal']</td>
<td align="right">$optAncients['Bhaal']</td>
<td align="right"><b>+$diff['Bhaal']</b></td>
<td align="right">$optcost['Bhaal']</td>
</tr>
<tr>
<td>Bubos</td>
<td align="right">$curAncients['Bubos']</td>
<td align="right">$optAncients['Bubos']</td>
<td align="right"><b>+$diff['Bubos']</b></td>
<td align="right">$optcost['Bubos']</td>
</tr>
<tr>
<td>Chronos</td>
<td align="right">$curAncients['Chronos']</td>
<td align="right">$optAncients['Chronos']</td>
<td align="right"><b>+$diff['Chronos']</b></td>
<td align="right">$optcost['Chronos']</td>
</tr>
<tr>
<td>Dogcog</td>
<td align="right">$curAncients['Dogcog']</td>
<td align="right">$optAncients['Dogcog']</td>
<td align="right"><b>+$diff['Dogcog']</b></td>
<td align="right">$optcost['Dogcog']</td>
</tr>
<tr>
<td>Dora</td>
<td align="right">$curAncients['Dora']</td>
<td align="right">$optAncients['Dora']</td>
<td align="right"><b>+$diff['Dora']</b></td>
<td align="right">$optcost['Dora']</td>
</tr>
<tr>
<td>Fortuna</td>
<td align="right">$curAncients['Fortuna']</td>
<td align="right">$optAncients['Fortuna']</td>
<td align="right"><b>+$diff['Fortuna']</b></td>
<td align="right">$optcost['Fortuna']</td>
</tr>
<tr>
<td>Fragsworth</td>
<td align="right">$curAncients['Frags']</td>
<td align="right">$optAncients['Frags']</td>
<td align="right"><b>+$diff['Frags']</b></td>
<td align="right">$optcost['Frags']</td>
</tr>
<tr>
<td>Juggernaut</td>
<td align="right">$curAncients['Jugs']</td>
<td align="right">$optAncients['Jugs']</td>
<td align="right"><b>+$diff['Jugs']</b></td>
<td align="right">$optcost['Jugs']</td>
</tr>
<tr>
<td>Kumawakamaru</td>
<td align="right">$curAncients['Kuma']</td>
<td align="right">$optAncients['Kuma']</td>
<td align="right"><b>+$diff['Kuma']</b></td>
<td align="right">$optcost['Kuma']</td>
</tr>
<tr>
<td>Libertas</td>
<td align="right">$curAncients['Libertas']</td>
<td align="right">$optAncients['Libertas']</td>
<td align="right"><b>+$diff['Libertas']</b></td>
<td align="right">$optcost['Libertas']</td>
</tr>
<tr>
<td>Mammon</td>
<td align="right">$curAncients['Mammon']</td>
<td align="right">$optAncients['Mammon']</td>
<td align="right"><b>+$diff['Mammon']</b></td>
<td align="right">$optcost['Mammon']</td>
</tr>
<tr>
<td>Mimzee</td>
<td align="right">$curAncients['Mimzee']</td>
<td align="right">$optAncients['Mimzee']</td>
<td align="right"><b>+$diff['Mimzee']</b></td>
<td align="right">$optcost['Mimzee']</td>
</tr>
<tr>
<td>Morgulis</td>
<td align="right">$curAncients['Morg']</td>
<td align="right">$optAncients['Morg']</td>
<td align="right"><b>+$diff['Morg']</b></td>
<td align="right">$optcost['Morg']</td>
</tr>
<tr>
<td>Siyalatas</td>
<td align="right">$curAncients['Siya']</td>
<td align="right">$optAncients['Siya']</td>
<td align="right"><b>+$diff['Siya']</b></td>
<td align="right">$optcost['Siya']</td>
</tr>
<tr>
<td>Solomon</td>
<td align="right">$curAncients['Solomon']</td>
<td align="right">$optAncients['Solomon']</td>
<td align="right"><b>+$diff['Solomon']</b></td>
<td align="right">$optcost['Solomon']</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td><b>Total</b></td>
<td align="right"><b>$optcost['Total']</b></td>
</tr>
</table>
<p>
<p>Your max TP reward will currently occur at zone <b>$calcs.maxTPzone<br></b>
After the above changes, your max TP reward will be at zone <b>$calcs.newTPzone</b></p>
<p>
<p><a HREF="/">Enter another save</a></p>
<p>
<p>
<font size="1">Based on the <a HREF="https://www.reddit.com/r/ClickerHeroes/comments/4naohc/math_and_transcendance/">math</a> by <a HREF="https://www.reddit.com/user/sugima">Sugima</a></font>
</center>
</body>
</html>