$def with (optAncients, diff)

<html>
    <head>
        <title>CH Ancients Calculator</title>
    </head>

<body>
<h2>These are the highest optimal ancient levels you can afford:</h2>
<table border="1">
<tr>
<th>Ancient</th>
<th>Optimal level</th>
<th>Levels to add</th>
</tr>
<tr>
<td>Argaiv</td>
<td>$optAncients.optArgaiv</td>
<td>$diff['Argaiv']</td>
</tr>
<tr>
<td>Atman</td>
<td>$optAncients.optAtman</td>
<td>$diff['Atman']</td>
</tr>
<tr>
<td>Bubos</td>
<td>$optAncients.optBubos</td>
<td>$diff['Bubos']</td>
</tr>
<tr>
<td>Chronos</td>
<td>$optAncients.optChronos</td>
<td>$diff['Chronos']</td>
</tr>
<tr>
<td>Dogcog</td>
<td>$optAncients.optDogcog</td>
<td>$diff['Dogcog']</td>
</tr>
<tr>
<td>Dora</td>
<td>$optAncients.optDora</td>
<td>$diff['Dora']</td>
</tr>
<tr>
<td>Fortuna</td>
<td>$optAncients.optFortuna</td>
<td>$diff['Fortuna']</td>
</tr>
<tr>
<td>Kumawakamaru</td>
<td>$optAncients.optKuma</td>
<td>$diff['Kuma']</td>
</tr>
<tr>
<td>Libertas</td>
<td>$optAncients.optLibertas</td>
<td>$diff['Libertas']</td>
</tr>
<tr>
<td>Mammon</td>
<td>$optAncients.optMammon</td>
<td>$diff['Mammon']</td>
</tr>
<tr>
<td>Mimzee</td>
<td>$optAncients.optMimzee</td>
<td>$diff['Mimzee']</td>
</tr>
<tr>
<td>Morgulis</td>
<td>$optAncients.optMorg</td>
<td>$diff['Morg']</td>
</tr>
<tr>
<td>Siyalatas</td>
<td>$optAncients.optSiya</td>
<td>$diff['Siya']</td>
</tr>
<tr>
<td>Solomon</td>
<td>$optAncients.optSolomon</td>
<td>$diff['Solomon']</td>
</tr>
</table>
<p>
<p><a HREF="/">Enter another save</a></p>
</body>
</html>